###################
# GENERAL CONFIGS #
###################

*.font: monospace:size=10
#*.alpha: 0.9

################
# CURSOR THEME #
################

Xcursor.theme: BreezeX-Dark
Xcursor.size: 24

########
# NSXIV #
########

Nsxiv.*.background: #222222
Nsxiv.*.foreground: #bbbbbb
Nsxiv.*.font: monospace
