###################
# GENERAL CONFIGS #
###################

*.font: monospace:size=11
#*.alpha: 0.9

################
# CURSOR THEME #
################

#Xcursor.theme: BreezeX-Dark
Xcursor.theme: Adwaita
Xcursor.size: 28

#########
# NSXIV #
#########

Nsxiv.*.background: #222222
Nsxiv.*.foreground: #bbbbbb
Nsxiv.*.font: monospace

#######
# DWM #
#######

#dwm.normbordercolor: #212121
#dwm.normbgcolor: #212121
#dwm.normfgcolor: #bbbbbb
#dwm.selbordercolor: #005555
#dwm.selbgcolor: #005555
#dwm.selfgcolor: #eeeeee
