[Desktop Entry]
Type=Application
Name=dwm
GenericName=Dinamic Window Manager
Exec=dwm
#Icon=
#MimeType=
#NoDisplay=false
#DBusActivatable=false
#Path=$PWD
#Terminal=false
